<div class="hero-unit">
  <h2>Welcome to Ke's Blackjack game</h2>

  <form method="post" class="form-horizontal">
    <label for="player_name">What's your name?</label>
    <input type="text" id="player_name" name="player_name" placeholder="Name"/ required>
    <button type="submit" class="btn"/>Submit</button>
  </form>
</div>